Repository markcallen/env-secrets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(e2e): use upsert --file instead of create -v JSON to avoid shell quote stripping
  __e2e__/aws-secret-mutation-args.test.ts
Due: prettier --write, eslint --fix

fix: use full 'env-secrets aws secret delete' command in error messages and docs
  docs/AWS.md
  src/cli/helpers.ts
Due: prettier --write, eslint --fix

chore: release v0.5.5
  package.json
Due: prettier --write

fix(upsert): merge env file keys with existing secret instead of replacing
  __e2e__/aws-secret-mutation-args.test.ts
  src/index.ts
  src/tsconfig.json
Due: prettier --write, eslint --fix

fix(upsert): handle binary secrets and clarify merge vs overwrite message
  src/index.ts
Due: prettier --write, eslint --fix

chore: release v0.5.6
  package.json
Due: prettier --write

feat: add MCP server for AI agent secret retrieval (#412)
  __tests__/mcp/server.test.ts
  __tests__/mcp/tty.test.ts
  docs/MCP.md
  package.json
  src/mcp/handlers.ts
  src/mcp/index.ts
  src/mcp/tsconfig.json
  src/mcp/tty.ts
  website/docs/index.mdx
  website/docs/mcp.mdx
  website/sidebars.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix(mcp): address Copilot review comments and increase test coverage
  __tests__/mcp/server.test.ts
  docs/MCP.md
  src/mcp/handlers.ts
  src/mcp/index.ts
  src/mcp/tty.ts
Due: prettier --write, eslint --fix

chore: ignore Claude scheduled_tasks.lock
  .gitignore
Due: none

security(mcp): remove get_secret and set_secret tools to prevent secret values entering LLM context
  __tests__/mcp/server.test.ts
  src/mcp/handlers.ts
Due: prettier --write, eslint --fix

fix(deps): upgrade TypeScript to v5 to support zod v3.25+ .d.cts declarations
  package.json
  yarn.lock
Due: prettier --write

test: set 75% coverage threshold and exclude MCP entry point
  jest.config.js
Due: prettier --write, eslint --fix

docs: update MCP server documentation with current tools and examples
  README.md
  website/docs/mcp.mdx
Due: prettier --write

feat(cli): add mcp subcommand to spawn MCP server via npx
  src/index.ts
Due: prettier --write, eslint --fix

feat(mcp): add mcp:config script to generate .mcp.json with local build path
  .mcp.json
  package.json
Due: prettier --write

chore: add .mcp.json to .gitignore
  .gitignore
  .mcp.json
Due: prettier --write

refactor(mcp): move mcp:config to scripts/mcp-config.js
  package.json
  scripts/mcp-config.js
Due: prettier --write, eslint --fix

docs: add MCP server local development section to README
  README.md
Due: prettier --write

fix(mcp): validate inputs, harden shutdown, handle spawn errors, fix docs
  __tests__/mcp/server.test.ts
  docs/MCP.md
  src/index.ts
  src/mcp/handlers.ts
  src/mcp/index.ts
  website/docs/mcp.mdx
Due: prettier --write, eslint --fix

chore: release v0.6.0
  package.json
Due: prettier --write

feat(cli): add --prompt flag for secure interactive value input
  README.md
  __tests__/cli/helpers.test.ts
  docs/AWS.md
  docs/MCP.md
  src/cli/helpers.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(cli): address Copilot review comments on --prompt flag
  __tests__/cli/helpers.test.ts
  src/cli/helpers.ts
Due: prettier --write, eslint --fix

fix(cli): fix EBADF crash when readline closes the tty stream
  src/cli/helpers.ts
Due: prettier --write, eslint --fix

fix(cli): destroy tty stream after prompt to prevent event loop hang
  src/cli/helpers.ts
Due: prettier --write, eslint --fix

feat(cli): show key name in --prompt text
  __tests__/cli/helpers.test.ts
  src/cli/helpers.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(cli): only suppress EBADF on tty stream, reject on other errors
  src/cli/helpers.ts
Due: prettier --write, eslint --fix

feat(config): add local config file support for provider and secrets defaults
  __tests__/config/loader.test.ts
  package-lock.json
  package.json
  src/config/index.ts
  src/config/loader.ts
  src/config/types.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(ci): set NODE_AUTH_TOKEN so yarn install succeeds with setup-node@v7
  .github/workflows/release.yml
Due: none

fix(deps): update yarn.lock for js-yaml v5 and remove package-lock.json
  .gitignore
  package-lock.json
  yarn.lock
Due: prettier --write

fix(config): address Copilot review comments on config file support
  .github/workflows/release.yml
  __e2e__/aws-config-file.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(cli): quote shell command arguments
  __tests__/cli/helpers.test.ts
  src/cli/helpers.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(cli): handle shell quoting edge cases
  __tests__/cli/helpers.test.ts
  src/cli/helpers.ts
Due: prettier --write, eslint --fix

feat: create env-secrets config from AWS secret
  README.md
  __e2e__/aws-config-file.test.ts
  __tests__/config/loader.test.ts
  src/config/index.ts
  src/config/loader.ts
  src/index.ts
  website/docs/cli-reference.mdx
Due: prettier --write, eslint --fix

fix: harden generated config writes
  README.md
  __tests__/config/loader.test.ts
  src/config/loader.ts
  src/index.ts
  website/docs/cli-reference.mdx
Due: prettier --write, eslint --fix

fix: return after config validation errors
  src/index.ts
Due: prettier --write, eslint --fix

fix: reject empty config defaults
  __tests__/config/loader.test.ts
  src/config/loader.ts
Due: prettier --write, eslint --fix

fix: trim parsed config entries
  README.md
  __tests__/config/loader.test.ts
  src/config/loader.ts
Due: prettier --write, eslint --fix

Fix release workflow npm auth env
  .github/workflows/release.yml
Due: none

chore: release v0.7.0
  package.json
Due: prettier --write

fixed name
  .github/workflows/release.yml
  yarn.lock
Due: none

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yaml})
  eslint --fix: any of: *.{js,ts}
