Repository markcallen/env-secrets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yaml}": ["prettier --write"]
}

docs(node): update minimum supported Node.js to 20
  AGENTS.md
  README.md
  docs/AWS.md
  website/docs/installation.mdx
Due: prettier --write

chore: release v0.3.3
  package.json
Due: prettier --write

feat: add aws secret management commands
  __e2e__/index.test.ts
  __e2e__/utils/test-utils.ts
  __tests__/vaults/secretsmanager-admin.test.ts
  src/index.ts
  src/vaults/aws-config.ts
  src/vaults/secretsmanager-admin.ts
  src/vaults/secretsmanager.ts
Due: prettier --write, eslint --fix

docs: require copilot review for new PRs
  AGENTS.md
Due: prettier --write

test: fix localstack e2e run and document awslocal setup
  AGENTS.md
  README.md
  __e2e__/README.md
  __e2e__/index.test.ts
  docs/AWS.md
  jest.e2e.config.js
  website/docs/cli-reference.mdx
  website/docs/providers/aws-secrets-manager.mdx
Due: prettier --write, eslint --fix

feat: apply copilot recommendations for aws secret admin
  __tests__/cli/helpers.test.ts
  __tests__/vaults/aws-config.test.ts
  __tests__/vaults/secretsmanager-admin.test.ts
  src/cli/helpers.ts
  src/index.ts
  src/vaults/secretsmanager-admin.ts
Due: prettier --write, eslint --fix

fix(cli): honor region/output flags in aws secret subcommands
  __e2e__/index.test.ts
  __tests__/cli/helpers.test.ts
  src/cli/helpers.ts
  src/index.ts
Due: prettier --write, eslint --fix

docs: clarify aws secret region/profile/output behavior
  README.md
  docs/AWS.md
Due: prettier --write

Ran yarn lint and fixed errors
  __e2e__/index.test.ts
  __tests__/cli/helpers.test.ts
  package.json
  src/cli/helpers.ts
Due: prettier --write, eslint --fix

refactor: make listSecrets error propagation explicit
  src/vaults/secretsmanager-admin.ts
Due: prettier --write, eslint --fix

chore: release v0.4.0
  package.json
Due: prettier --write

docs: clarify aws injection vs secret management usage
  README.md
  docs/AWS.md
  website/docs/cli-reference.mdx
  website/docs/providers/aws-secrets-manager.mdx
Due: prettier --write

feat(aws): upsert secrets from env file with import alias
  README.md
  __e2e__/index.test.ts
  __tests__/cli/helpers.test.ts
  __tests__/vaults/secretsmanager-admin.test.ts
  docs/AWS.md
  src/cli/helpers.ts
  src/index.ts
  src/vaults/secretsmanager-admin.ts
  website/docs/cli-reference.mdx
  website/docs/providers/aws-secrets-manager.mdx
Due: prettier --write, eslint --fix

docs: clarify injection usage requires command or file output
  README.md
  website/docs/cli-reference.mdx
  website/docs/providers/aws-secrets-manager.mdx
Due: prettier --write

feat(aws): add secret append/remove and align file upsert docs
  README.md
  __e2e__/index.test.ts
  __tests__/vaults/secretsmanager-admin.test.ts
  docs/AWS.md
  src/index.ts
  src/vaults/secretsmanager-admin.ts
  website/docs/cli-reference.mdx
  website/docs/providers/aws-secrets-manager.mdx
Due: prettier --write, eslint --fix

fix(upsert): harden source parsing and failure handling
  AGENTS.md
  __tests__/cli/helpers.test.ts
  src/cli/helpers.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore: release v0.5.0
  package.json
Due: prettier --write

refactor(e2e): split tests by CLI args and add coverage script
  README.md
  __e2e__/README.md
  __e2e__/aws-cli-help.test.ts
  __e2e__/aws-exec-args.test.ts
  __e2e__/aws-get-secrets-args.test.ts
  __e2e__/aws-output-file-args.test.ts
  __e2e__/aws-secret-lifecycle.test.ts
  __e2e__/aws-secret-mutation-args.test.ts
  __e2e__/index.test.ts
  __e2e__/utils/aws-e2e-context.ts
  __e2e__/utils/test-utils.ts
  __tests__/index.test.ts
  __tests__/vaults/secretsmanager.test.ts
  package.json
  src/index.ts
  src/vaults/secretsmanager.ts
Due: prettier --write, eslint --fix

fix(secrets): handle JSON-encoded dotenv secrets
  __e2e__/utils/test-utils.ts
  __tests__/vaults/secretsmanager.test.ts
  src/vaults/secretsmanager.ts
Due: prettier --write, eslint --fix

chore: release v0.5.1
  package.json
Due: prettier --write

Ensure secret create always stores JSON object
  README.md
  __e2e__/aws-secret-lifecycle.test.ts
  docs/AWS.md
  src/index.ts
Due: prettier --write, eslint --fix

Clarify JSON object preservation wording in docs
  README.md
  docs/AWS.md
Due: prettier --write

chore: release v0.5.2
  package.json
Due: prettier --write

fix: pin localstack to v3 to fix E2E test failures
  docker-compose.yaml
Due: prettier --write

fix: remove shell:true from spawn to resolve DEP0190 deprecation warning
  __tests__/index.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: add --shell/--no-shell flag, error handling, and real spawn e2e tests
  __e2e__/aws-exec-args.test.ts
  __e2e__/utils/test-utils.ts
  __tests__/index.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: shell-escape args before joining to prevent bash syntax errors
  __e2e__/aws-exec-args.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix(e2e): use spawn instead of exec in cliWithRealSpawn to avoid shell-parsing parentheses
  __e2e__/utils/test-utils.ts
Due: prettier --write, eslint --fix

fix: address Copilot review comments on shell escaping and signal handling
  __e2e__/utils/test-utils.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore: release v0.5.3
  package.json
Due: prettier --write

Added ballast
  .claude/rules/cicd.md
  .claude/rules/docs.md
  .claude/rules/git-hooks.md
  .claude/rules/local-dev-badges.md
  .claude/rules/local-dev-env.md
  .claude/rules/local-dev-license.md
  .claude/rules/local-dev-mcp.md
  .claude/rules/observability.md
  .claude/rules/publishing-api.md
  .claude/rules/publishing-apps.md
  .claude/rules/publishing-apt.md
  .claude/rules/publishing-brew.md
  .claude/rules/publishing-cli.md
  .claude/rules/publishing-libraries.md
  .claude/rules/publishing-sdks.md
  .claude/rules/publishing-web.md
  .claude/rules/typescript-linting.md
  .claude/rules/typescript-logging.md
  .claude/rules/typescript-testing.md
  .claude/settings.json
  .claude/skills/github-health-check.skill
  .codex/rules/docs.md
  .codex/rules/git-hooks.md
  .codex/rules/github-health-check.md
  .codex/rules/publishing-api.md
  .codex/rules/publishing-apps.md
  .codex/rules/publishing-apt.md
  .codex/rules/publishing-brew.md
  .codex/rules/publishing-cli.md
  .codex/rules/publishing-libraries.md
  .codex/rules/publishing-sdks.md
  .codex/rules/publishing-web.md
  .codex/rules/typescript-linting.md
  .codex/rules/typescript-logging.md
  .codex/rules/typescript-testing.md
  .gitignore
  .rulesrc.json
  AGENTS.md
  CLAUDE.md
Due: prettier --write

feat: add aws secret value command to retrieve secret values
  __e2e__/aws-secret-value-args.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: address Copilot review comments on secret value command
  __e2e__/aws-secret-value-args.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

docs: update README and AWS guide to match current CLI surface
  README.md
  docs/AWS.md
Due: prettier --write

fix: guard against file-path leaking as output format from parent command
  __tests__/cli/helpers.test.ts
  src/cli/helpers.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore: release v0.5.4
  package.json
Due: prettier --write

docs(website): add aws secret value command documentation
  website/docs/cli-reference.mdx
  website/docs/examples.mdx
  website/docs/providers/aws-secrets-manager.mdx
Due: none

docs(website): fix create-secret formatting and add missing -o/--no-shell params
  website/docs/providers/aws-secrets-manager.mdx
Due: none

docs(website): clarify -o writes file and exits without executing a program
  website/docs/providers/aws-secrets-manager.mdx
Due: none

feat(secret): guard against removing the last key in a JSON secret
  __e2e__/aws-secret-mutation-args.test.ts
  __tests__/cli/helpers.test.ts
  docs/AWS.md
  src/cli/helpers.ts
  src/index.ts
Due: prettier --write, eslint --fix
