Repository markcallen/env-secrets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Added -o option to write the env vars to a secure file. Prevents overwriting (#352)
  .eslintignore
  .github/dependabot.yml
  .github/workflows/deploy-docs.yml
  .gitignore
  .lintstagedrc
  .prettierignore
  AGENTS.md
  README.md
  __e2e__/index.test.ts
  __tests__/index.test.ts
  __tests__/vaults/utils.test.ts
  src/index.ts
  src/vaults/secretsmanager.ts
  src/vaults/utils.ts
  website/docs/advanced-usage.mdx
  website/docs/best-practices.mdx
  website/docs/cli-reference.mdx
  website/docs/examples.mdx
  website/docs/faq.mdx
  website/docs/index.mdx
  website/docs/overview.mdx
  website/docs/production-deployment.mdx
  website/docs/security.mdx
  website/docs/troubleshooting.mdx
  website/docusaurus.config.ts
Due: prettier --write, eslint --fix

Added test for secretsmanager. Increased code coverage on vaults to 100%
  __tests__/vaults/secretsmanager.test.ts
Due: prettier --write, eslint --fix

Running e2e and unit tests
  .github/workflows/e2e-tests.yaml
  .gitignore
  README.md
  __e2e__/README.md
  __e2e__/index.test.ts
  __e2e__/setup.ts
  __e2e__/utils/test-utils.ts
  docker-compose.yaml
  jest.e2e.config.js
  package.json
  src/index.ts
Due: prettier --write, eslint --fix

Waiting for stack to be healthy
  .github/workflows/e2e-tests.yaml
  docker-compose.yaml
Due: prettier --write

Added new coverage dir
  .prettierignore
Due: none

Updated yarn.lock
  yarn.lock
Due: none

Using correct way to call docker compose
  .github/workflows/e2e-tests.yaml
Due: prettier --write

Added awslocal
  .github/workflows/e2e-tests.yaml
Due: prettier --write

Moved code coverage back to being in the unit tests. Removed the noisy output from e2e tests
  .github/workflows/e2e-tests.yaml
  .github/workflows/unittests.yaml
  __e2e__/index.test.ts
  __e2e__/setup.ts
  __e2e__/utils/debug-logger.ts
  __e2e__/utils/test-utils.ts
  jest.config.js
  jest.e2e.config.js
  package.json
Due: prettier --write, eslint --fix

chore: Improve unit test coverage for vaults and secretsmanager (#353)
  .github/workflows/e2e-tests.yaml
  .gitignore
  .prettierignore
  README.md
  __e2e__/README.md
  __e2e__/index.test.ts
  __e2e__/setup.ts
  __e2e__/utils/debug-logger.ts
  __e2e__/utils/test-utils.ts
  __tests__/vaults/secretsmanager.test.ts
  docker-compose.yaml
  jest.e2e.config.js
  package.json
  src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

Remove export keyword from output format
  __e2e__/index.test.ts
  __tests__/vaults/utils.test.ts
  src/vaults/utils.ts
Due: prettier --write, eslint --fix

Remove export keyword from output format (#354)
  __e2e__/index.test.ts
  __tests__/vaults/utils.test.ts
  src/vaults/utils.ts
Due: prettier --write, eslint --fix

Added how to the use -o flag to generate an output file
  website/docs/examples.mdx
Due: none

Fixed name
  .github/workflows/e2e-tests.yaml
Due: prettier --write

Added concurrency groups
  .github/workflows/build-main.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/e2e-tests.yaml
  .github/workflows/lint.yaml
  .github/workflows/snyk.yaml
  .github/workflows/unittests.yaml
Due: prettier --write

Add comprehensive documentation for -o option to create local secrets.env files (#355)
  .github/workflows/build-main.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/e2e-tests.yaml
  .github/workflows/lint.yaml
  .github/workflows/snyk.yaml
  .github/workflows/unittests.yaml
  website/docs/examples.mdx
Due: prettier --write

chore: release v0.3.0
  package.json
Due: prettier --write

fix: upgrade debug from 4.4.1 to 4.4.3
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @aws-sdk/client-secrets-manager from 3.899.0 to 3.901.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @aws-sdk/client-sts from 3.899.0 to 3.901.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @aws-sdk/credential-providers from 3.899.0 to 3.901.0
  package.json
  yarn.lock
Due: prettier --write

Using provenance attestations
  .github/workflows/release.yml
  .release-it.json
Due: prettier --write

Using npx directly as per the docs
  .github/workflows/release.yml
Due: none

Ran npm pkg fix
  package.json
Due: prettier --write

Adding provenance as per docs
  package.json
Due: prettier --write

Using version 24 to support publishing to npmjs
  .github/workflows/build-main.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/e2e-tests.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yml
  .nvmrc
Due: prettier --write

fixed version
  README.md
Due: prettier --write

Fixed permission for commiting back package.json
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore: release v0.3.2
  package.json
Due: prettier --write

fix: update AWS SDK v3 mocking for compatibility with v3.962.0
  __tests__/vaults/secretsmanager.test.ts
Due: prettier --write, eslint --fix

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @aws-sdk/client-secrets-manager from 3.966.0 to 3.971.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @aws-sdk/client-sts from 3.966.0 to 3.971.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @aws-sdk/credential-providers from 3.966.0 to 3.971.0
  package.json
  yarn.lock
Due: prettier --write

chore: align linting setup and repository rules
  .codex/rules/cicd.md
  .codex/rules/linting.md
  .codex/rules/local-dev-badges.md
  .codex/rules/local-dev-env.md
  .codex/rules/local-dev-license.md
  .codex/rules/local-dev-mcp.md
  .codex/rules/logging.md
  .codex/rules/observability.md
  .codex/rules/testing.md
  .eslintignore
  .eslintrc
  .github/workflows/lint.yaml
  .github/workflows/release.yml
  .lintstagedrc
  eslint.config.js
  package.json
  website/docs/examples.mdx
  yarn.lock
Due: prettier --write, eslint --fix

Update package.json
  package.json
Due: prettier --write

Revert "Update package.json"
  package.json
Due: prettier --write

fix: handle missing AWS profile credentials cleanly
  __tests__/vaults/secretsmanager.test.ts
  src/vaults/secretsmanager.ts
Due: prettier --write, eslint --fix

chore(ci): drop node 18 and require node 20+
  .github/workflows/unittests.yaml
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yaml})
  eslint --fix: any of: *.{js,ts}
